In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
mc = pd.read_csv("odibatting.csv", encoding="ISO-8859-1")

In [ ]:
mc.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Player_URL
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,http://stats.espncricinfo.com/ci/content/playe...
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,http://stats.espncricinfo.com/ci/content/playe...
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,http://stats.espncricinfo.com/ci/content/playe...
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,http://stats.espncricinfo.com/ci/content/playe...
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,http://stats.espncricinfo.com/ci/content/playe...

In [ ]:
mc.pop('Span')

0       1989-2012
1       2000-2015
2       1995-2012
3       1989-2011
4       1998-2015
          ...
2584    2017-2017
2585    1996-1996
2586    2012-2012
2587    2019-2019
2588    1997-1997
Name: Span, Length: 2589, dtype: object

In [ ]:
mc.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Player_URL
0,SR Tendulkar (INDIA),463,452,41,18426,200*,44.83,21367,86.23,49,96,20,http://stats.espncricinfo.com/ci/content/playe...
1,KC Sangakkara (Asia/ICC/SL),404,380,41,14234,169,41.98,18048,78.86,25,93,15,http://stats.espncricinfo.com/ci/content/playe...
2,RT Ponting (AUS/ICC),375,365,39,13704,164,42.03,17046,80.39,30,82,20,http://stats.espncricinfo.com/ci/content/playe...
3,ST Jayasuriya (Asia/SL),445,433,18,13430,189,32.36,14725,91.2,28,68,34,http://stats.espncricinfo.com/ci/content/playe...
4,DPMD Jayawardene (Asia/SL),448,418,39,12650,144,33.37,16020,78.96,19,77,28,http://stats.espncricinfo.com/ci/content/playe...

1. Finding Unique Values

In [ ]:
mc['100'].unique()

array(['49', '25', '30', '28', '19', '43', '10', '17', '22', '12', '15',
       '16', '7', '11', '29', '20', '14', '18', '27', '21', '6', '8', '3',
       '9', '4', '13', '5', '2', '0', '1', '-'], dtype=object)

2.Finding Null values

In [ ]:
mc.isnull().sum()

Player        0
Mat           0
Inns          0
NO            0
Runs          0
HS            0
Ave           0
BF            0
SR            0
100           0
50            0
0             0
Player_URL    0
dtype: int64

In [ ]:
mc.dtypes

Player        object
Mat            int64
Inns          object
NO            object
Runs          object
HS            object
Ave           object
BF            object
SR            object
100           object
50            object
0             object
Player_URL    object
dtype: object

In [ ]:
X = mc.iloc[:, [1, 2, 3]].values
y = mc.iloc[:, -1].values

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,0] = le.fit_transform(X[:,0])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

ValueError: ignored